/* search */
.search-form {
    display: flex;
    height: 40px;
    margin-left : auto;
}
.search-form input[type="search"] {
    flex: 1;
    min-width: 0;
    /* 0 밑으로 작아지게 하고 싶지 않다 */
    margin-right: 10px;
    border: 0;
    border-radius: 0.3em;
    font-size: 1rem;
}
.search-form input[type="submit"] {
    width: 4em;
    border: 0;
    border-radius: 0.3em;
    font-size: 1rem;
    background: gold;
}


.menu-item {
    width : 25%;
    font-size: 1.2rem;
    padding : 1em;
    flex-grow : 1;
    text-align : center;
    background-color: gold;
    transition: 0.5s ease-in-out;
}

.menu-item:hover{
    width: 35%;
    background-color: crimson;
}

.menu-link{
    text-decoration: none;
    color : black;
    font-weight: bold;
    display: block;
}

.menu-link:hover{
    color:white;
}

/* primary cards container */
.post-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}
.post-image {
    height: 0;
    padding-bottom: 60%;
    background-color: lightgray;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.desc {
    flex: 1 1 auto;
    padding: 1em;
    background: white;
}

.side{
    display: flex;
    flex-direction: column;
}

.main-left{
    padding: 16px;
    background-color: white;
}

.main-right{
    padding: 16px;
    background-color: gray;
}

.friend-list{
    margin-bottom: 10px;
}

.info-list{
    display: flex;
    flex-direction: column;
    margin: 8px 0;
}

.info-item:before{
    content : '※';
}

.info-item{
    margin : 8px 0px;
}

.message-list{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.friend-item{
    align-items: center;
    margin: 0 0 24px;
}

.friend-item, .message-item{
    display:flex;
    margin : 8px 0px;
}

.friend_desc{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.message-desc{
    color:white;
    flex-grow: 1;
}

.friend-img{
    width: 50px;
    height: 50px;
    margin-right: 0.5em;
    border: 2px solid #333;
    border-radius: 50%;
    background-color: gold;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150%;
    flex-shrink: 0;
}
