/* header */
.header {
    display : flex;
    padding: 0 1rem;
    align-items: center;
}

.main-name{
    margin-left: 10px;
}

.search-form{
    margin-left : auto;
    width : 300px;
    max-width: 60%;
}

.search-form:after{
    content : '⚑';
}


.menu-items {
    display: flex;
    padding-bottom: 10px;
}

.menu-item {
    width: 25%;
    text-align : center;
    background-color: yellow;
    transition : 0.5s ease-in-out;
}

.menu-item:hover{
    width: 35%;
    background-color:crimson;
}

.menu-link {
    display : block;
    padding: 1em;
    text-decoration : none;
    font-weight : bold;
}

.menu-link:hover{
    color:white;
}

.primary-list {
    display : flex;
}

/* card list */
.post-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}
.post-image {
    height: 0;
    padding-bottom: 60%;
    background-color: lightgray;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.desc {
    flex: 1 1 auto;
    padding: 1em;
    background: white;
}

@media (min-width: 600px) {
    .post-list {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -1rem;
    }
    .post-item {
        width: 50%;
        padding: 0 1rem;
    }
}

@media (min-width: 1200px) {
    .post-item {
        width: 33.33333%;
    }
}