.nav{
    position:fixed;
    bottom: 0;
    background-color: #f9f9fa;
    width: 100%;
    padding: 20px 50px;
    box-sizing: border-box;
    /* padding 준 부분은 사용불가, padding 준 만큼 박스가 늘어남 */
    /* 좌우로 모두 padding을 주어 그만큼 사이즈가 늘어남 */
    /* box-sizing border-box를 설정하면 box 사이즈를 변경하지 않도록 설정해줌. */
    /* 그 대신 content 내용물이 줄어들 것임 */
    border-top: 1px solid rgba(121,121,121, 0.3);

}
.nav__list {
    display: flex;
    justify-content: space-between;
}

.nav__link{
    color : #2e363e;
    position: relative;
}

.nav__notification{
    background-color: tomato;
    width: 20px;
    height : 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 600;
    position: absolute;
    left: 15px;
    bottom: 15px;
}

.nav__etc_dots{
    background-color: tomato;
    width: 10px;
    height : 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 600;
    position: absolute;
    left: 30px;
    bottom: 30px;
}